* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red:  hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --white: hsl(0, 0%, 100%);
  --blue: #3DBEFF;

  --dark-blue-text: hsl(198, 62%, 26%);
  --dark-cyan-footer: hsl(168, 34%, 41%);

  --dark-blue: hsl(212, 27%, 19%);
  --dark-graysh-blue:  hsl(213, 9%, 39%);
  --dark-graysh-blue-100: hsl(232, 10%, 55%);
  --dark-graysh-blue-200: hsl(210, 4%, 67%);

  --dark-cyan-200: #427E72;
  --dark-cyan-300: #23564D;

}

body {
  font-size: 18px;
  font-family: Fraunces;
}

input, button, textarea, select, label {
  font-family: Barlow;
}

p {
  font-family: Barlow;
}