@media (max-width: 375px) {
  header {
    width: 100%;
  }

  header button {
    display: block;
    cursor: pointer;
    border: 0;
    color: #fff;
    background: transparent;
  }

  header button i {
    font-size: 2rem;
  }

  header .content-header {
    padding: 0 1rem;
  }

  nav {
    display: none;
  }

  .background {
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    height: 70vh;
  }

  .background h1 {
    padding-top: 3rem;
    margin-bottom: 4rem;
  }

  main .transform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  main .transform img {
    order: -1;
    width: 100%;
  }

  main .transform article {
    width: 100%;
    padding: 0;
  }

  main .transform .transform-content {
    padding: 3rem 1rem;
    text-align: center;
  }

  main .transform .transform-content p {
    font-size: 1.2rem;
  }

  main .stand-audience {
    display: flex;
    flex-direction: column;
  }

  main .stand-audience img {
    width: 100%;
    height: auto;
  }

  main .stand-audience .stand-audience-content {
    padding: 3rem 1rem;
    text-align: center;
  }

  main .graphic-and-photography {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .graphic-and-photography .graphic {
    width: 100%;
  }

  .graphic-and-photography .photography {
    width: 100%;
  }

  footer {
    display: none;
  }
}
