@media (max-width: 375px) {
  header {
    width: 100%;
  }

  header button {
    display: block;
    cursor: pointer;
    border: 0;
    color: #fff;
    background: transparent;
  }

  header button i {
    font-size: 2rem;
  }

  header .content-header {
    padding: 0 1rem;
  }

  header .content-header nav {
    display: none;
  }

  header .content-nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 338px;

    margin: 2.5rem auto;

    background: #fff;
    height: 376px;
    position: absolute;

    left: 0;
    right: 0;
  }

  header .content-nav-mobile a {
    display: block;
    color: var(--dark-graysh-blue);

    font-family: Barlow;
    font-weight: bold;

    text-decoration: none;
    text-align: center;
  }

  header .content-nav-mobile a + a {
    margin-top: 2rem;
  }
  header .content-nav-mobile a:last-child {
    background: var(--yellow);
    padding: 0.66rem 2.99rem;
    width: 150px;

    border-radius: 50px;
  }

  .background {
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    height: 70vh;
  }

  .background h1 {
    padding-top: 3rem;
    margin-bottom: 4rem;
  }

  main .transform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  main .transform img {
    order: -1;
    width: 100%;
  }

  main .transform article {
    width: 100%;
    padding: 0;
  }

  main .transform .transform-content {
    padding: 3rem 1rem;
    text-align: center;
  }

  main .transform .transform-content p {
    font-size: 1.2rem;
  }

  main .stand-audience {
    display: flex;
    flex-direction: column;
  }

  main .stand-audience img {
    width: 100%;
    height: auto;
  }

  main .stand-audience .stand-audience-content {
    padding: 3rem 1rem;
    text-align: center;
  }

  main .graphic-and-photography {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .graphic-and-photography .graphic {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0rem 1.2rem 3rem 1.2rem;
  }

  .graphic-and-photography .photography {
    height: 500px;
    width: 100%;

    display: flex;
    align-items: flex-end;
    padding: 0rem 1.2rem 3rem 1.2rem;
  }

  .client-testimonials {
    padding: 0;
  }

  .title-client-testminonials h1 {
    margin-top: 3rem;
  }

  .client-testimonials {
    height: auto;
  }

  .client-testimonials .testimonials-content {
    display: flex;
    flex-direction: column;
  }

  .client-testimonials .testimonials-content article {
    margin: 0;
    width: 100%;
    padding: 1rem;
  }

  .client-testimonials .testimonials-content article + article {
    margin-top: 2rem;
  }

  .client-testimonials .testimonials-content article p {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .galery img {
    width: 50%;
  }

  footer {
    padding: 4rem 0;
  }

  footer nav a {
  }
}
