header {
  background: var(--blue);
  padding: 2rem 0.25rem;
}

header .content-header {
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  display: none;
}

header .content-header nav a {
  font-family: Barlow !important;
  font-weight: 200;
  text-decoration: none;
  color: var(--white);
}

header .content-header nav a + a {
  margin-left: 2rem;
}
header .content-header nav a:last-child {
  font-weight: bold;
  color: black;
  background: var(--white);
  padding: 0.66rem 2.99rem;
  width: 300px;
  height: 2rem;

  border-radius: 50px;
}

.background {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--blue);
  height: 90vh;

  text-align: center;
}

.background h1 {
  font-size: 4rem;
  color: var(--white);
  padding-top: 4rem;
  margin-bottom: 7rem;
}

.transform {
  display: flex;
}

.transform img {
  width: 50%;
}

.transform .transform-content {
  padding: 0 7rem;
  display: flex;
  align-items: center;
}

.transform .transform-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}
.transform .transform-content p {
  font-family: Barlow !important;
  font-weight: 400;

  margin-bottom: 2rem;
}

.transform .transform-content a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-blue);
  border-bottom: 2px dashed var(--yellow);
}

.stand-audience {
  display: flex;
}

.stand-audience img {
  width: 50%;
  height: 600px;
}

.stand-audience .stand-audience-content {
  padding: 0 7rem;
  display: flex;
  align-items: center;
}

.stand-audience .stand-audience-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}

.stand-audience-content p {
  font-family: Barlow !important;
  font-weight: 400;

  margin-bottom: 2rem;
}

.stand-audience-content a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-blue);
  border-bottom: 2px dashed var(--red);
}

.graphic-and-photography {
  display: flex;
  height: 600px;
  width: 100%;
}

.graphic-and-photography .graphic {
  width: 50%;
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;

  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 7rem;
}

.graphic {
  padding: 0 8rem;
  color: var(--dark-cyan-200);
}

.graphic h1 {
  color: var(--dark-cyan-300);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.graphic-and-photography .photography {
  width: 50%;
  background-image: url(/images/desktop/image-photography.jpg);
  background-position: center;

  display: flex;
  align-items: flex-end;
  text-align: center;
}

.graphic-and-photography .photography {
  padding: 0 9rem 7rem 9rem;
  color: var(--dark-blue-200);
}

.photography h1 {
  color: var(--dark-blue-300);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.client-testimonials {
  height: 600px;
  padding: 6rem 7rem;
  text-align: center;
}

.title-client-testminonials h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: var(--dark-graysh-blue-200);
}

.client-testimonials .testimonials-content {
  display: flex;
  margin-top: 3rem;
}

.client-testimonials .testimonials-content article {
  margin: 0 1rem;
  text-align: center;
  width: 40%;
}

.client-testimonials .testimonials-content article img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.client-testimonials .testimonials-content article p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 0.5rem;
}

.client-testimonials .testimonials-content article strong {
  display: block;
  margin-bottom: 1rem;
}

.client-testimonials .testimonials-content article small {
  font-family: Barlow;
  font-weight: 100;
  color: var(--dark-graysh-blue-200);
}

.galery {
  display: flex;
}

.galery img {
  width: 25%;
}

footer {
  padding: 5rem;
  background: #90d4c5;
  text-align: center;
}

footer img {
  margin-bottom: 2rem;
  width: 200px;
}

footer nav a {
  font-family: Barlow;
  font-weight: bold;
  color: var(--dark-cyan-300);
  text-decoration: none;
}

footer nav a:hover {
  color: var(--white);
}

footer nav a + a {
  margin-left: 2rem;
}

.footer-icons {
  margin-top: 4rem;
}

.footer-icons a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--dark-cyan-300);
}

.footer-icons a + a {
  margin-left: 1rem;
}
